/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

a {
     text-decoration: none;
}

body {
     background-color: #d6d6d6; 
     font-family: sans-serif;
     overflow: auto;
     height:1700px;
}

h2 {
     margin-top: 20px;
     font-size: 20px;
     font-weight: bold;
}

p{
    font-size: 12px; 
}

p a {
     color: #EE4000;
     font-weight: bold;
}
ul {
     list-style: none;
}

li {
     padding-top:5px;
     font-family: sans-serif;
}

span p{
     border-top: 1px dotted gray;
     border-bottom: 1px solid black;
     padding: 10px;
     margin-bottom: 50px;
}

#wrapper {
     position: relative;
     min-height: 1700px;
     width:1700px;
     margin:0 auto 0 auto;
}

#banner {
     background-image:url('../images/background.jpg');
     background-repeat:repeat-x;
}

#banner img {
     position: relative;
     right: -600px;
     top: 20px;

}


#main {
     width:640px;
     background-color: white;
     position:relative;
     float:left;
     padding:15px;
     margin-top:50px;
     margin-left:200px;
     margin-bottom:35px;
}

#sidebar {
     height:780px;
     width:310px;
     padding:0px;
     background-color: white;
     position:relative;
     float:left;
     margin-top:50px;
     margin-left: 20px;
     font-weight: bold;
}


#sidebar img {
    /* margin-top:10px;
     margin-bottom:10px;
     margin-left:25px;*/
     position:relative;
     left: 30px;
     top: 20px;
     padding-bottom: 15px;
}


#footer_img_holder {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 126px;
  height: 100px;
}