/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


a {
     text-decoration: none;
}

body {
     background-color: #d6d6d6; 
     font-family: sans-serif;
     overflow: auto;
}

h2 {
     margin-top: 20px;
     font-size: 20px;
     font-weight: bold;
}

p{
    font-size: 12px; 
}

p a {
     color: #EE4000;
     font-weight: bold;
}
ul {
     list-style: none;
}

li {
     padding-top:5px;
     font-family: sans-serif;
}

span p{
     border-top: 1px dotted gray;
     border-bottom: 1px solid black;
     padding: 10px;
     margin-bottom: 50px;
}

#wrapper {
     position: relative;
     min-height: 1700px;
     margin:0;
}

#banner {
     text-align: center;
     background-image:url('../images/background.jpg');
     background-repeat:repeat-x;
}

#banner img {
     position: relative;
     top: 20px;
     z-index: 1;
}

#content-wrapper {
     padding: 0;
     max-width: 1000px;
     min-width: 1000px;
     position: relative;
     width: 100%;
     margin: 0 auto;
}

#main {
     display: inline-block;
     width:640px;
     padding: 20px;
     background-color: white;
}

#sidebar {
     position: absolute;
     right: 25px;
     top: 0;
     display: inline-block;
     width:310px;
     padding-bottom: 32px;
     background-color: white;
     font-weight: bold;
}

.archive-title {
     color: #EE4000;
}

#sidebar img {
     position:relative;
     left: 30px;
     top: 20px;
     padding-bottom: 15px;
}


#footer_img_holder {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 126px;
  height: 100px;
}
